body ,div,img,ul,li,p,form,input
{
	margin: 0;
	padding: 0;
}
body,#main,#smallMenu
{
	background: rgba(128,0,0,0.4);

}
 a,label {
	text-decoration: none;
	color : rgb(255,255,255);
}
/*globla margin and padding*/
th,td,footer,#main,#content,#smallMenu, li ,form,input,label,#banner,#leftContent,#rightContent
{
	margin: 10px ;
	border-radius: 5px;
	padding: 5px;
}



#main{
	width: 960px;
	margin-left:  auto;
	margin-right: auto;
	padding: 5px;
        
	
	
	
	

}

/*top*/
#top
{
	overflow: hidden;
	height: 50px;
}
#logo
{
	float: left;
	
}
#smallMenu
{
	float: right;
	
	
	list-style: none;
	
}
#smallMenu > li{
	display: inline;
	
}
li
{
        text-decoration: none;
	border-radius: 5px;
	background: rgba(0,0,0,0.8);
}
li:hover
{
	background: rgba(0,0,0,0.5);
        
}
#banner
{
	width: 940px;
	height: 240px;
        padding: 0;
	background: rgb(6,6,6);
        overflow: hidden;
        z-index: 100;
}
/*content*/
#content,#leftContent,#rightContent,footer,td,th
{
	
	background: rgba(0,0,0,0.5);
        overflow: hidden;
        height: 100%;
        color: white;
}
form
{

}
label
{
	background: rgba(0,0,0,0.5);
	
	
	width: 120px;
}
textarea
{
	width: 80%;
	height: 120px;
}
#leftContent
{
    float: left;
    width: 60%;
    
}
#rightContent
{
    float:right;
    width: 30%;
    
}
#leftContent, #rightContent
{
    padding: auto;
}
footer{
    text-align: center;
}
table{
    margin: auto;
}